<!-- Page Content -->
<div class="about">

	<!--=== Slider ===-->
	<div class="business-header">
	    <div class="container">
	        <div class="row">
	            <div class="col-lg-12">
	            </div>
	        </div>
	    </div>
	</div>
	<!--=== End Slider ===-->

	<!--=== Content Block ===-->
	<div class="main-content">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<p> Athenahealth is committed to policy equal employment opportunity. We
						recruit and hire applicant without regards to race, color, regilion, 
						sex (including pregnency), nation origin, disability, age , sexual oriental,
						veteran status, genetic information, geneder identity, geneder expression,
						or any other factor probihited by law.
					</p>
				</div>
			</div>
		</div>
	</div><!--/row-->
	<!-- End Content Block -->

	<!--=== Content Part ===-->
	<div class="container">
		<!-- Info Blokcs -->
		<div class="row adjust-margin">
			<!-- Welcome Block -->
			<div class="col-md-12">
				<div class="headline"><h1>Want to be work with us?</h1></div>
				<p>Are you a student or recent college grad? athenahealth is a great place to grow
				professionaly and make a real difference in the world.</p>
				<p>
					<button type="button" class="btn btn-primary btn-lg">
						Request for join
						<i class="fa fa-angle-double-right" aria-hidden="true"></i>
					</button>
				</p>
			</div><!--/col-md-8-->
		</div>
		<!-- End Info Blokcs -->
	</div><!--/container-->


	<div class="container">
		<!-- Related Projects Row -->
        <div class="row team-section">
            <div class="col-lg-12">
                <h3 class="page-header">Ours Team</h3>
            </div>
            <div class="col-sm-3 col-xs-6" ng-repeat="member in team">
                <a href="">
                    <img class="img-responsive portfolio-item" src="{{member.src}}" alt="">
                </a>
            </div>
        </div>
        <!-- /.row -->
	</div>
	<!-- End Content Part -->

</div>