.home {

    /* Header Image Background */
    .business-header {
        height: 400px;
        background: url('../../images/careersheroimg.jpg') center center no-repeat scroll;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
    }

    /* Customize the text color and shadow color and to optimize text legibility. */
    .tagline {
        margin-top: 200px;
        text-shadow: 0 0 10px #000;
        background-color: transparent;
        color: blue;
    }

    .img-center {
        margin: 0 auto;
    }

    .main-content {
        margin-top: 50px;
        font-size: 20px;
        font-family: "Times New Roman", Times, serif;
        word-wrap: break-word;
    }

    .athenista-content {
        margin-top: 40px;
        margin-bottom: 100px;
    }

    .athenista-content .athenista-header {
        padding: 16px;
        font-size: 50px;
        font-family: "Times New Roman", Times, serif;
        color: green;
        word-wrap: break-word;
    }

    .athenista-content .athenista-image {
        border: 2px solid #FFFFFF;
    }

    .headline {
        color: blue;
    }

    .adjust-margin {
        margin-top: 35px;
        margin-bottom: 35px;
    }
}

