<div class="home">

	<!--=== Slider ===-->
	<div class="business-header">
	    <div class="container">
	        <div class="row">
	            <div class="col-lg-12">
	                <h1 class="tagline">{{appTagLine}}</h1>
	                <small>{{appSubTagLine}}</small>
	            </div>
	        </div>
	    </div>
	</div>
	<!--=== End Slider ===-->

	<!--=== Content Block ===-->
	<div class="main-content">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<p> Athenahealth is committed to policy equal employment opportunity. We
						recruit and hire applicant without regards to race, color, regilion, 
						sex (including pregnency), nation origin, disability, age , sexual oriental,
						veteran status, genetic information, geneder identity, geneder expression,
						or any other factor probihited by law.
					</p>
				</div>
			</div>
		</div>
	</div><!--/row-->
	<!-- End Content Block -->

	<!--=== Content Part ===-->
	<div class="container content-sm">

		<!-- Info Blokcs -->
		<div class="row adjust-margin">
			<!-- Welcome Block -->
			<div class="col-md-6">
				<div class="headline"><h1>Opportunity for students & recent grads</h1></div>
				<p>Are you a student or recent college grad? athenahealth is a great place to grow
				professionaly and make a real difference in the world.</p>
				<p>
					<button type="button" class="btn btn-primary btn-lg">
						View Job Opeenings
						<i class="fa fa-angle-double-right" aria-hidden="true"></i>
					</button>
				</p>
			</div><!--/col-md-8-->

			<!-- Carousel -->
			<div class="col-md-6">
				<carousel links="athenistas"></carousel>
			</div><!--/col-md-4-->

		</div>
		<!-- End Info Blokcs -->

		<!-- Start Athenista -->
		<div class="row athenista-content">
			<div class="athenista-header">
				Hear from Athenistas
			</div>
			<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3" ng-repeat="athenista in athenistas">
				<img src="{{athenista.src}}" class="athenista-image">
			</div>
		</div>
		<!-- End Athenista -->

	</div><!--/container-->
	<!-- End Content Part -->

</div>
