/*Footer-v1
------------------------------------*/
.footer-v1 .footer {
  padding: 40px 0;  
  background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #592c81 0%, #3c1052 100%) repeat scroll 0 0;
}

.footer-v1 .content {
  color: #FFFFFF;
}